# Default ignored files
/shelf/
/workspace.xml
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R0rf1
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R0rf2
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R0rf5
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ac3
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ac4
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ac11
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ar1
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ar2
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ar3
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ar4
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ar5
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ar6
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ar7
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ca2
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ca5
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ca6
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ca7
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ca8
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ca9
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ca10
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1ca12
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1hb1
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1rf2
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1rf3
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1rf4
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1rf5
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1rf6
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1rf7
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1rf8
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1rf9
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1sg1
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1sg2
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1sg3
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1sg4
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1sg5
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1sg6
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1sg7
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1sg8
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1sg9
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1uk1
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/R1uk3
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/RStages-Ann
/Users/tanayagrawal/PycharmProjects/sportsai/Tennis/RData/RStagesServes
*.mp4
*.png